body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#login-card {
  height: 70%;
  width: 30%;
}
#signup-card {
  height: 80%;
  width: 30%;
}
@media (max-width: 768px) {
  #login-card {
    height: 60%;
    width: 100%;
  }
  #signup-card {
    height: 60%;
    width: 100%;
  }
  #home-h3 {
    display: none;
  }
  #main-home {
    flex-direction: column;
  }
  #Footer {
    display: none;
  }
}
